.product:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

.product-link {
    color: #000 !important;
    text-decoration: none
}

.is-invalid {
    border-color: red;
}

.invalid-feedback {
    color: red;
}
.bg-green {
    background-color: #5FAA1C;
}
